<label>ServerName</label>
<!--<input type="text" class="form-control" (input)="onUpdateServerName($event)" />-->

<input type="text" class="form-control" [(ngModel)]="serverName" />

<!--<p>{{serverName}}</p>-->
<button class="btn btn-primary" [disabled]="!allowNewServers" (click)="onCreateServer()">add server</button>
<!--<p>{{serverCreationStatus}}</p>-->
<p *ngIf="serverCreated; else noServer">Server was created, Server name is {{serverName}}</p>
<ng-template #noServer>
  <p>
    No server was created
  </p>

</ng-template>
<!--<input type="text" [(ngModel)]="username"  />
<p>{{username}}</p>
<button class="btn btn-primary" [disabled]="username==='' " (click)="onServerReset()"></button>-->
<!--<app-server></app-server>-->
<app-server *ngFor="let server of servers"></app-server>

<button class="btn btn-primary" (click)="onToggleParagaraph()"> Display details</button>
<p *ngIf="displayOn===true">secret password=tuna</p>
<p *ngFor="let click of buttonClicks" [ngStyle]="{backgroundColor: click>5?'blue':'white'}" [ngClass]="{whitefnt:click>5}">{{click}}</p>
